* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
}

img {
  max-width: 100%;
  height: 75px;
}

.card_image {
  width: 100%;
  padding: 10px;
}

.img_fluid {
  max-width: 100%;
}


header {
  background-color: white;
  height: 100px;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a,
li {
  color: grey;
}


.main_alto {
  padding: 30px;
  background-color: black;
  color: white;
}

.main_basso {
  height: 170px;
  background-color: rgb(60, 145, 255);
  color: white;
  display: flex;
}


footer {
  background-image: url("./public/img/footer-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_alto ul {
  list-style-type: none;
}

.footer_basso {
  height: 100px;
  background-color: rgb(97, 91, 91);
  color: white;
}


.col_40 {
  width: 40%;
}

.col_60 {
  width: 60%;
}

.col_50 {
  width: 50%;
}

.col-16 {
  width: 16%;
}


.text_right {
  text-align: right;
  font-size: 9px;
  font-weight: bold;
}

.social {
  padding: 20px 0;
}

.flex {
  display: flex;
}

.logo {
  height: 330px;
  margin-left: 130px;
}

.color_list_footer {
  color: white;
}

.gap {
  gap: 20px;
}

.button {
  background-color: rgb(97, 91, 91);
  color: white;
  border: 2px solid rgb(60, 145, 255);
  padding: 10px;
  margin-top: 20px;
}

.color_azzurro_testo {
  color: rgb(60, 145, 255);
}


.comics_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comic_card {
  width: calc(100%/6);
  height: auto;
}

.comic_card img {
  max-width: 100%;
}

.card_img_comcicCard {
  height: 140px;
}


.margin_left_10 {
  margin-left: 10px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_bottom_header {
  padding-bottom: 21px;
}

.padding_bottom_40 {
  padding-bottom: 40px;
}

.padding_left_150 {
  padding-left: 150px;
}

.margin_top_10 {
  margin-top: 10px;
}

.padding_photo_main {
  gap: 60px;
  padding: 40px;
}

.padding_list_header {
  padding-top: 40px;
}

.padding_left {
  padding-left: 20px;
}

.margin_top_20 {
  margin-top: 20px;
}