* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

img {
  max-width: 100%;
  height: 65px;

}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: white;
  height: 80px;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.footer_alto ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

.main_basso {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
}

.col_40 {
  width: 40%;
}

.col_60 {
  width: 60%;
}

.text-right {
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}

.padding_lista_header {
  padding-top: 30px;
}

.padding_logo {
  padding-top: 15px;
}

.main_alto {
  height: 100px;
  background-color: black;
  color: white;
}

.main_basso {
  height: 190px;
  background-color: rgb(60, 145, 255);
  color: white;
  display: flex;
}

.padding_testo_main {
  padding-top: 35px;
}

.padding_foto_main {
  gap: 60px;
  padding: 40px;
}

.flex {
  display: flex;
}

.column_footer {
  background-image: url("./assets/img/footer-bg.jpg");
  width: 50%;
}

.footer_basso {
  height: 100px;
  background-color: grey;
  color: white;
}

.button {
  background-color: grey;
  color: white;
}