* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
}

.margin-left-10 {
  margin-left: 10px;
}

img {
  max-width: 100%;
  height: 75px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: white;
  height: 100px;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.footer_alto ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
}

.col_40 {
  width: 40%;
}

.col_60 {
  width: 60%;
}

.text-right {
  text-align: right;
  font-size: 9px;
  font-weight: bold;
}

.margin-left-80 {
  margin-left: 80px;
}

.padding_lista_header {
  padding-top: 40px;
}

.social {
  padding: 20px 0;
}

.card {
  display: flex;
}

.img_card {
  width: 100%;
  padding: 10px;
}

.main_alto {
  padding: 30px;
  background-color: black;
  color: white;
}

.main_basso {
  height: 170px;
  background-color: rgb(60, 145, 255);
  color: white;
  display: flex;
}

.img-fluid {
  max-width: 100%;
}

.padding_testo_main {
  padding-top: 35px;
}

.padding_foto_main {
  gap: 60px;
  padding: 40px;
}

.flex {
  display: flex;
}

footer {
  background-image: url("./public/img/footer-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  height: 330px;
  margin-left: 130px;
}

.foto_su_background {
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 30px;
  padding-bottom: 100px;
}


.size {
  width: 100px;
}

.color_lista {
  color: white;
}

.footer_basso {
  height: 100px;
  background-color: rgb(97, 91, 91);
  color: white;
}

.gap {
  gap: 20px;
}

.button {
  background-color: rgb(97, 91, 91);
  color: white;
  border: 2px solid rgb(60, 145, 255);
  padding: 10px;
  margin-top: 20px;
}

.color_azzurro_testo {
  color: rgb(60, 145, 255);
}

.margin-top {
  margin-top: 10px;
}

.col-50 {
  width: 50%;
}

.margin-right-250 {
  margin-left: 250px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

a,
li {
  color: grey;
}

.padding-top-30 {
  padding-top: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-16 {
  width: 16%;
}